[Desktop Entry]
Type=Service
Name=RPM Stats
Name[af]=Rpm Statistiek
Name[ar]=إحصائيَات RPM
Name[az]=RPM Statistikaları
Name[be]=Статыстыка RPM
Name[bn]=আরপিএম পরিসংখ্যান
Name[br]=Stadegoù gant RPM
Name[bs]=RPM statistika
Name[ca]=L'estat dels RPM
Name[cs]=RPM statistiky
Name[cy]=Ystadegau RPM
Name[da]=RPM-stats
Name[el]=Στατιστικά RPM
Name[eo]=RPM statistikoj
Name[es]=Estadísticas RPM
Name[et]=RPM statistika
Name[eu]=RPM estadistikak
Name[fa]=آمار RPM
Name[fi]=RPM-tilastot
Name[fo]=RPM-hagtøl
Name[fr]=État RPM
Name[ga]=Staitistic RPM
Name[gl]=Estatísticas RPM
Name[he]=סטטיסטיקת RPM
Name[hi]=आरपीएम स्टेट्स
Name[hr]=RPM statistike
Name[hu]=RPM-információ
Name[it]=Statistiche RPM
Name[ka]=RPM სტატისტიკა
Name[kk]=RPM статистикасы
Name[km]=សភាព RPM
Name[ko]=RPM 상태
Name[lt]=RPM statistika
Name[lv]=RPM Statusi
Name[mn]=РПМ Төлөв
Name[mt]=Statistika RPM
Name[nb]=RPM statistikk
Name[ne]=आरपीएम तथ्याङ्क
Name[nl]=RPM-statistieken
Name[nn]=RPM-statistikk
Name[pa]=RPM ਸਥਿਤੀ
Name[pl]=Dane plików RPM
Name[pt]=Informações de RPMs
Name[pt_BR]=Estados do RPM
Name[ro]=Statistici RPM
Name[ru]=Статистика RPM
Name[se]=RPM-statistihkka
Name[sk]=Štatistiky RPM
Name[sl]=Statistike RPM
Name[sr]=RPM Статистике
Name[sr@Latn]=RPM Statistike
Name[sv]=RPM-statistik
Name[ta]=RPM புள்ளி விவரம்
Name[tg]=Статистикаи RPM
Name[th]=สถิติของ RPM
Name[tr]=RPM İstatistikleri
Name[uk]=Дані RPM
Name[ven]=Mbalo dza RPM
Name[vi]=Thống kê RPM
Name[wa]=Sitatistikes RPM
Name[zh_CN]=RPM 统计
Name[zh_HK]=RPM 統計
Name[zh_TW]=RPM 統計
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_rpm
MimeType=application/x-rpm
PreferredItems=Name,Version,Summary,Group,Size
