[Desktop Entry]
Type=Service
Name=RPM Stats
Name[af]=Rpm Statistiek
Name[ar]=إحصائيَات RPM
Name[ast]=Estadístiques RPM
Name[be]=Статыстыка RPM
Name[bg]=RPM Stats
Name[bn]=আরপিএম পরিসংখ্যান
Name[br]=Stadegoù gant RPM
Name[ca]=L'estat dels RPM
Name[ca@valencia]=L'estat dels RPM
Name[cs]=RPM statistiky
Name[cy]=Ystadegau RPM
Name[da]=RPM-stats
Name[de]=RPM-Stats
Name[el]=Στατιστικά RPM
Name[en_GB]=RPM Stats
Name[eo]=RPM statistikoj
Name[es]=Estadísticas RPM
Name[et]=RPM statistika
Name[eu]=RPM estatistikak
Name[fa]=آمار RPM
Name[fi]=RPM-tilastot
Name[fr]=État RPM
Name[ga]=Staitistic RPM
Name[gl]=Estatísticas RPM
Name[he]=סטטיסטיקת RPM
Name[hi]=आरपीएम स्टैट्स
Name[hne]=आरपीएम स्टैट्स
Name[hr]=Statistike za RPM
Name[hu]=RPM-jellemzők
Name[id]=Statistik RPM
Name[is]=RPM Stats
Name[it]=Statistiche RPM
Name[ja]=RPM Stats
Name[kk]=RPM статистикасы
Name[ko]=RPM 상태
Name[lt]=RPM statistika
Name[lv]=RPM Stats
Name[mk]=RPM Stats
Name[ml]=ആര്‍പിഎം സ്ഥിതി വിവര കണക്കുകള്‍
Name[ms]=RPM Stats
Name[nb]=RPM statistikk
Name[nds]=RPM-Statistik
Name[ne]=आरपीएम तथ्याङ्क
Name[nl]=RPM-statistieken
Name[nn]=RPM-statistikk
Name[pa]=RPM ਹਾਲਤ
Name[pl]=Dane plików RPM
Name[pt]=Informações de RPMs
Name[pt_BR]=Estados do RPM
Name[ro]=Statistici RPM
Name[ru]=Статистика RPM
Name[se]=RPM-statistihkka
Name[sk]=Štatistiky RPM
Name[sl]=Statistike RPM
Name[sr]=РПМ статистика
Name[sr@ijekavian]=РПМ статистика
Name[sr@ijekavianlatin]=RPM statistika
Name[sr@latin]=RPM statistika
Name[sv]=RPM-statistik
Name[ta]=RPM புள்ளி விவரம்
Name[tg]=Статистикаи RPM
Name[th]=สถานะ RPM
Name[tr]=RPM İstatistikleri
Name[uk]=Дані RPM
Name[vi]=Thống kê RPM
Name[wa]=Sitatistikes RPM
Name[xh]=RPM Stats
Name[x-test]=xxRPM Statsxx
Name[zh_CN]=RPM 统计
Name[zh_HK]=RPM 統計
Name[zh_TW]=RPM 統計
X-KDE-ServiceTypes=KFilePlugin
X-KDE-Library=kfile_rpm
MimeType=application/x-rpm
PreferredItems=Name,Version,Summary,Group,Size
