[Desktop Entry]
Type=Service
Name=DEB Stats
Name[af]=Deb Statistiek
Name[ar]=إحصائيَات DEB
Name[az]=DEB Statistikaları
Name[be]=Cтатыстыка DEB
Name[bn]=ডেব পরিসংখ্যান
Name[br]=Stadegoù gant DEB
Name[bs]=DEB statistika
Name[ca]=L'estat dels DEB
Name[cs]=DEB statistiky
Name[cy]=Ystadegau DEB
Name[da]=DEB-stats
Name[el]=Στατιστικά DEB
Name[eo]=DEB statistikoj
Name[es]=Estadísticas DEB
Name[et]=DEB statistika
Name[eu]=DEB estadistikak
Name[fa]=آمار DEB
Name[fi]=DEB-tilastot
Name[fo]=DEB-hagtøl
Name[fr]=État DEB
Name[ga]=Staitistic DEB
Name[gl]=Estatísticas DEB
Name[he]=סטטיסטיקת DEB
Name[hi]=डीईबी स्टेट्स
Name[hr]=DEB statistike
Name[hu]=DEB-statisztika
Name[it]=Statistiche DEB
Name[ka]=DEB სტატისტიკა
Name[kk]=DEB статистикасы
Name[km]=សភាព DEB
Name[ko]=DEB 상태
Name[lt]=DEB statistika
Name[lv]=DEB Statusi
Name[mn]=ДЕВ Төлөв
Name[mt]=Statistika DEB
Name[nb]=DEB statistikk
Name[ne]=डीईबी तथ्याङ्क
Name[nl]=DEB-statistieken
Name[nn]=DEB-statistikk
Name[pa]=DEB ਸਥਿਤੀ
Name[pl]=Dane pakietów DEB
Name[pt]=Informações de DEBs
Name[pt_BR]=Estados DEB
Name[ro]=Statistici DEB
Name[ru]=Статистика DEB
Name[se]=DEB-statistihkka
Name[sk]=Štatistiky DEB
Name[sl]=Statistike DEB
Name[sr]=DEB Статистике
Name[sr@Latn]=DEB Statistike
Name[sv]=DEB-statistik
Name[ta]=DEB புள்ளி விவரம்
Name[tg]=Статистикаи DEB
Name[th]=สถิติของ DEB
Name[tr]=DEB İstatistikleri
Name[uk]=Дані DEB
Name[ven]=Mbalo dza DEB
Name[vi]=Thống kê DEB
Name[wa]=Sitatistikes DEB
Name[zh_CN]=DEB 统计
Name[zh_HK]=DEB 統計
Name[zh_TW]=DEB 統計
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_deb
MimeType=application/x-deb
PreferredItems=Name,Version,Summary,Size
