[Desktop Entry]
Type=Service
Name=DEB Stats
Name[af]=Deb Statistiek
Name[bs]=DEB statistika
Name[ca]=L'estat dels DEB
Name[cs]=DEB statistiky
Name[da]=DEB-stats
Name[el]=Στατιστικά DEB
Name[es]=Estadísticas DEB
Name[fi]=DEB tilastot
Name[fo]=DEB-hagtøl
Name[fr]=État DEB
Name[he]=סטטיסטיקת DEB
Name[hu]=DEB-statisztika
Name[it]=Statistiche DEB
Name[lt]=DEB statistika
Name[lv]=DEB Statusi
Name[mt]=Statistika DEB
Name[nb]=DEB statistikk
Name[nl]=DEB-statistieken
Name[nn]=DEB-statistikk
Name[pl]=Dane pakietów DEB
Name[pt]=Informações de DEBs
Name[pt_BR]=Estados DEB
Name[ru]=Статистика DEB
Name[sk]=Štatistiky DEB
Name[sl]=Statistike DEB
Name[sv]=DEB-statistik
Name[th]=สถิติของ DEB
Name[tr]=DEB İstatistikleri
Name[uk]=Дані DEB
Name[ven]=Mbalo dza DEB
Name[wa]=Sitatistikes DEB
Name[zh_CN]=DEB统计
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_deb
MimeType=application/x-debian-package
PreferredItems=Name,Version,Summary,Size
